<div id="<%= dom_id beverage %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= beverage.title %>
  </p>
  <%= image_tag beverage.featured_image if 
    beverage.featured_image.attached? %>
</div>
