<% content_for :title, "Editing user" %>

<div class="mx-auto md:w-2/3 w-full bg-ablescent-white p-5 mb-5 rounded-lg">
  <h1 class="font-bold text-4xl text-punch">Editing user</h1>

  <%= render "form", user: @user %>

  <%= link_to "Show this user", @user, class: "button-secondary" %>
  <%= link_to "Back to users", users_path, class: "button-secondary" %>
</div>
